# Tools
node_modules/
bower_components/
npm-debug.log
.sass-cache
.env.json
.env

# Miscellaneous
*.esproj
*.DS_Store
*.orig
*.psd
*.zip
*.sublime-project
*.sublime-workspace
puphpet/config-custom.yaml
.vagrant
